body {
    margin: 0;
    padding: 0;
    background-image: url(/images/background.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#text-01 {
    font-family: Arial;
    text-shadow: 3px 4px 4px grey;
    text-align: center;
    color: rgb(243, 227, 214);
    font-size: 350%;
    -webkit-text-stroke: 2px black;
}

.type-01 {
    width: 60%;
    display: block;
    margin: 0px auto;
}

.type-02 {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}